.background{
  background-color: #00E7DC;
  margin:0; 
  padding:0; 
  height: 100%;
  overflow:hidden;
  display: flex;
}

.PageNotFound-SVG{
  position:fixed; 
  height: 100%;
  width:100%;
  z-index: 0;
  color: black;
}

#h1{
  font-family: 'Nunito', sans-serif;
  color: black;
  text-align: center;
  padding: 2em 0 0;
  opacity: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}