*{
  background-color: #030316;
  padding: 0;
  margin: 0;
  font-family: 'Rubik','Futura','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}

.StationPage{
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.textCenter{
  display: flex;
  justify-content:center;
}

.blur{
  filter: blur(3px);
}

.about-page{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about{
  display: flex;
  align-self:center;
  width: 400px;
  height: 700px;
  position: fixed;
  margin-bottom: 850px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #090929;
  border-radius: 6px;
  transition: 0.5s;
  box-shadow: -1px 1px 11px 1px rgba(0,0,0,0.51);
  -webkit-box-shadow: -1px 1px 11px 1px rgba(0,0,0,0.51);
  -moz-box-shadow: -1px 1px 11px 1px rgba(0,0,0,0.51);
}

.exit{
  justify-self: center;
  align-self: flex-end;
  cursor: pointer;
  background:#040411;
    border-radius: 3px;
    padding: 10px 20px;
}
