*{
  background-color: #030316;
  padding: 0;
  margin: 0;
  font-family: 'Rubik','Futura','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}

.StationPage{
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.textCenter{
  display: flex;
  justify-content:center;
}

.blur{
  filter: blur(3px);
}

.about-page{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about{
  display: flex;
  flex-direction: column;
  border: solid;
  align-self:center;
  position: fixed;
  top: 0;
  margin-top: 100px;;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #090929;
  border-radius: 6px;
  transition: 0.5s;
  box-shadow: -1px 1px 11px 1px rgba(0,0,0,0.51);
  -webkit-box-shadow: -1px 1px 11px 1px rgba(0,0,0,0.51);
  -moz-box-shadow: -1px 1px 11px 1px rgba(0,0,0,0.51);
}

.about-row{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #090929;
  z-index: 1;
}

.tihkur{
  align-self: center;
  width: 350px;
  height: 300px;
  z-index: 0;
  background-color: #090929;
}

.exit{
  border: solid;
  justify-self: center;
  align-self:center;
  cursor: pointer;
  background: #090929;
    border-radius: 12px;
    padding: 10px 40px;
}
