*{
  background-color: #F1FAEE;
  padding: 0;
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.boxOffline{
  display: flex;
  justify-content:flex-start;
  flex-flow: row wrap;
  
}
.boxOnline{
  display: flex;
  justify-content:flex-start;
  flex-flow: row wrap;
  
}
.textCenter{
  display: flex;
  justify-content:center;
}

