html{
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(./font/Rubik-VariableFont_wght.ttf) format('truetype');
}
@font-face {
  font-family: 'RubikItalic';
  src: local('RubikItalic'), url(./font/Rubik-Italic-VariableFont_wght.ttf) format('truetype');
}