.Page-Manage{
    height: 93vh;
    
}

.Top-Page{
    display: flex;
}

.Bottom-Page{
    display: flex;
}
.Flights-Component{
    width: 50%;
    height: 56vh;
    
}

.Notification-Component{
    width: 50%;
    height: 56vh;
}

.Edit-Component{
    width: 100%;
}