*{
    color: #FFF;
}

.Top-Page{
    display: flex;
   padding-top: 100px;
}


.Flights-Component{
   display: flex;
   justify-content: center;
    width: 50%;
}

.Right-Page{
    display: flex;
    width: 49%;
    flex-direction: column;
}

.Notification-Component{
    height: 65%;
    padding: 0.5rem 1rem;
}

.Flight-Table{
    text-align: center;
    height: 740px;
    width: 96%;
    margin: 2%;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #182A48;
    border-radius: 4px;
    transition: 0.5s;
    box-shadow: 6px 5px 10px -8px rgba(0,0,0,0.69);
    -webkit-box-shadow: 6px 5px 10px -8px rgba(0,0,0,0.69);
    -moz-box-shadow: 6px 5px 10px -8px rgba(0,0,0,0.69);
}

.Notification-Table{
  text-align: center;
  height: 460px;
  width: 100%;
  margin: 0%;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #182A48;
  border-radius: 4px;
  transition: 0.5s;
  box-shadow: 6px 5px 10px -8px rgba(0,0,0,0.69);
  -webkit-box-shadow: 6px 5px 10px -8px rgba(0,0,0,0.69);
  -moz-box-shadow: 6px 5px 10px -8px rgba(0,0,0,0.69);
}

.Edit-Component{
    display: flex;
}

.Edit-Component-Left{
width: 50%;
}

.Edit-Component-Right{
    width: 50%;
    }

.Card{
    text-align: center;
    height: 220px;
    width: 96%;
    margin: 3%;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #182A48;
    border-radius: 4px;
    transition: 0.5s;
    box-shadow: 6px 5px 17px -8px rgba(0,0,0,0.69);
    -webkit-box-shadow: 6px 5px 17px -8px rgba(0,0,0,0.69);
    -moz-box-shadow: 6px 5px 17px -8px rgba(0,0,0,0.69);
}
 
.Table-Name{
    background: #182A48;
    font-size: 20px ;
}

.Row{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;
}

.Header-Cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #182A48;
    font-size: 20px ;
}

.Cell{ 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: auto;
    width: 100%;
    height: 20px;
    cursor: default;
}

.Empty-Cell{
    width: 100%;
    height: 20px;
    background: #28283e;
}

.Stations{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-size: auto;
}

/* Slide Bar */
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  }
  
  .Grid1k {
    padding: 0 15px;
    max-width: 1200px;
    margin: auto;
  }
  
  .blocks-box,
  .slick-slider {
    margin: 0;
    padding: 0!important;
  }
  
  .slick-slide {
    float: left /* If RTL Make This Right */ ;
    padding: 0;
  }
  
  /* ==== Slider Style === */
  
  .Modern-Slider .item h3{
    font:30px/50px RalewayB;
    text-transform:uppercase;
    color:#FFF;
    animation:fadeOutRight 1s both;
    margin:0;
    padding:0;
  }
  
  .Modern-Slider .item h5{
    margin:0;
    padding:0;
    font:15px/30px RalewayR;
    color:#FFF;
    max-width:600px;
    overflow:hidden;
    height:60px;
    animation:fadeOutLeft 1s both;
  }
  
  .Modern-Slider .item.slick-active h3{
    animation:fadeInDown 1s both 1s;
  }
  
  .Modern-Slider .item.slick-active h5{
    animation:fadeInLeft 1s both 1.5s;
  }
  
  .Modern-Slider .item.slick-active{
    animation:Slick-FastSwipeIn 1s both;
  }
  
  .Modern-Slider {background:#000;}
  
  /* ==== Slider Image Transition === */
  @keyframes Slick-FastSwipeIn{
      0%{transform:rotate3d(0,1,0,150deg) scale(0)  perspective(400px);} 
      100%{transform:rotate3d(0,1,0,0deg) scale(1) perspective(400px);} 
  }
  
  @-webkit-keyframes ProgressDots{from{width:0px;}to{width:100%;}}
  @keyframes ProgressDots{from{width:0px;}to{width:100%;}}
  
  /* ==== Slick Slider Css Ruls === */
  .slick-slider{position:relative;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
  .slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
  .slick-list:focus{outline:none}.slick-list.dragging{cursor:hand}
  .slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
  .slick-track{position:relative;top:0;left:0;display:block}
  .slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}
  .slick-loading .slick-track{visibility:hidden}
  .slick-slide{display:none;float:left /* If RTL Make This Right */ ;height:100%;min-height:1px}
  .slick-slide.dragging img{pointer-events:none}
  .slick-initialized .slick-slide{display:block}
  .slick-loading .slick-slide{visibility:hidden}
  .slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}

