.TailsPage{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 600px;
    width: 40vh;
    border: solid;
}

.TailsTable{
    width: inherit;
}
.EmptyTable{
    display: flex;
    justify-content: flex-end;
}

.Tail{
    display: flex;
    border: solid;
    flex-direction: column;
    align-items: flex-end;
}

.InsertTail{
resize: none;
}