.TailsPage{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width:100%;
}

.TailsTable{
    border: solid blue;
    width: inherit;
}

.Tail{
    display: flex;
    border: solid;
    flex-direction: column;
    align-items: flex-end;
}
