.clip {
  animation: slide 8s infinite;
}

@keyframes slide {
  from {
    transform: translateY(-135px);
  }
  50% {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(-135px);
  }
}

.noOnlineStation{
  display: flex;
  justify-content: center;
  align-items: center;
 height: 100vh;
}

.animation{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

   .stationNameOnline{ 
    margin-top: 2%; 
    margin-bottom: 3%;
     background-color: #A8DADC;
  }
  .dataContainer{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 4px;
    width: 85%;
    height: 85%;
    background-color: #A8DADC;
    justify-content: space-around;
  }

   .DuplicateCell{
    display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 20px;
      background: red;
      cursor: default;
      color: black;
   }
  
  

