
svg {
  margin: 50px auto;
  width: 45%;
}

.logo {
  fill: #FE4365;
}

.clip {
  animation: slide 8s infinite;
}

@keyframes slide {
  from {
    transform: translateY(-135px);
  }
  50% {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(-135px);
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
} 

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.test{
  width: 35%;
  animation: slide 16s infinite, fadeIn ease 8s infinite, fadeOut ease 8s infinite;
  background-color: #28285A;
  border-radius: 100%;
}

.noOnlineStation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.animation{
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.containerOnline{
    display: flex;
    background-color: #A8DADC;
    width: 25vh;
    height: 35vh;
     margin: 2%;
     border-radius: 10px;
     flex-direction: column;
     align-items: center;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     transition: 1s;

   }
   .containerOnline:hover{
    background-color: #93bfc0;
    transition: 1s;

   }

   .stationNameOnline{ 
    margin-top: 2%; 
    margin-bottom: 3%;
     background-color: #A8DADC;
  }
  .dataContainer{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 4px;
    width: 85%;
    height: 85%;
    background-color: #A8DADC;
    justify-content: space-around;
  }

  .row{
    display: flex;
    background-color: #A8DADC;
    border-bottom: solid;
    height: 13%;
    width: 100%;
    align-items: center;
   }
   .row:last-child{
    border-bottom: none;
    
   }
   .right{
    display: flex;
    width: 29%;
    background-color: #A8DADC;
    order: 1;
    justify-content: center;
    
   }

   .left{
    display: flex;
    width: 69%;
    background-color: green;
    justify-content: center;
    border-radius: 4px;
    margin-left: 3%;
  }
  .left:hover{
    background-color: rgb(2, 99, 2);
  }

  

