.Edit-Page{
    display: flex;
    height: 37vh;
}

.Tail-Component{
    display: flex;
    width: 33%;
    justify-content: center;
    
}

.GDT-Component{
    display:flex;
    width:33%;
    justify-content: center;
    
}

.Station-Component{
    display:flex;
    width:33%;
    justify-content: center;
    
}

.Frequency-Component{
    display:flex;
    width:33%;
    justify-content: center;
    
}