.Page{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.EditPageTop{
    display: flex;
    width: 80%;
    border: solid blue;
    justify-content: space-around;
}


.EditPageBottom{
    display: flex;
    width: 80%;
    border: solid blue;
    justify-content: space-around;
}