.container{
  height: 100%;
  width: 20%;
  text-align: center;
    margin: 3%;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #d3e0ea;
    border-radius: 4px;
    transition: 0.5s;
    box-shadow: 6px 5px 17px -8px rgba(0,0,0,0.69);
    -webkit-box-shadow: 6px 5px 17px -8px rgba(0,0,0,0.69);
    -moz-box-shadow: 6px 5px 17px -8px rgba(0,0,0,0.69);
}

.top{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}


.stationName{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d3e0ea;
}

.DuplicateCell{
  display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: solid #1687a7 0.5px;
    height: 20px;
    background: red;
    cursor: default;
    color: white;
}