
.NavbarItems{
    background: #294c7c;
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    font-size: 1.2rem;
    height: inherit;
    height: 7vh;
}

.Navbar-logo{
    order: 1;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    width: 33%;
    margin-left: 20%;
    color: white;
    font-size: 5vh;
    background: #294c7c;


}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 66%;
    list-style:none;
    background: #294c7c;

}


.nav-links{
    border-radius: 4px;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    background: #294c7c;
    transition: 0.5s;
}

.nav-links:hover{
    background-color:#3b6a86;
    border-radius: 4px;
    transition: all 0.2 ease-out;
    transition: 0.5s;

    }
.nav-links:focus{
    background-color:#31586e;
    border-radius: 4px;
    transition: all 0.2 ease-out;
    transition: 0.3s;
}
.nav-links:active{
    background-color:#31586e;
    border-radius: 4px;
    transition: all 0.2 ease-out;
    transition: 0.3s;
}

.clicked-page{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color:#E63946;
    border-radius: 4px;
    transition: all 0.2 ease-out;
    transition: 0.5s;
}

.clicked-page:hover{
    background-color:#cc3340;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out;
    transition: 0.5s;
}
.clicked-page:active{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color:#ac2a35;
    border-radius: 4px;
    transition: all 0.2 ease-out;
    transition: 0.3s;
}


/*.Navbar-logo{
   color: #fff;
   display: flex;
    justify-self: end;
    order: 1;
}

.nav-menu{
    display: grid;
    list-style:none;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
    text-align: center;
    width: auto;
    justify-content: end;
    margin-right: 45rem;
}

.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}



*/