.NavbarItems{
    background: #294c7c;
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    font-size: 1.2rem;
    height: inherit;
    height: 7vh;
}

.Navbar-logo{
    order: 1;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    width: 33%;
    margin-left: 20%;
    color: white;
    font-size: 5vh;
    background: #294c7c;


}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 66%;
    list-style:none;
    background: #294c7c;

}


.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #294c7c;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
    
}

.nav-links:hover{
    background-color:#3b6a86;
    border-radius: 4px;
    transition: all 0.2 ease-out;
    transition: 0.5s;

    }

.nav-links:active{
    background-color:#31586e;
    border-radius: 4px;
    transition: all 0.2 ease-out;
    transition: 0.3s;
}

.clicked-page{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color:#E63946;
    border-radius: 4px;
    transition: all 0.2 ease-out;
    transition: 0.5s;
    cursor: pointer;
}

.clicked-page:hover{
    background-color:#cc3340;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out;
    transition: 0.5s;

}
.clicked-page:active{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color:#ac2a35;
    border-radius: 4px;
    transition: all 0.2 ease-out;
    transition: 0.3s;
}


/* The container <div> - needed to position the dropdown content */
.dropdown{
    display: inline-block;
    position: relative;
}


.ManNav-links{   /*Dropdown Content (Hidden by Default) */
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: auto;
    color: red;
    margin-top: 10px;
}

/* Links inside the dropdown 
.ManNav-links label{

}*/

/* Change color of dropdown links on hover */
.MItem:hover {background-color: #ddd;} 
.MItem:hover .MItem-label{background-color: #ddd;} 
.MItem:hover .MItem-icon {background-color: #ddd;} 

/* Show the dropdown menu on hover */
.dropdown:hover .ManNav-links {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover /*.clicked-page*/ {background-color: #3e8e41;}

/* Links inside the dropdown */
.MItem{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 110px;
   
}

.MItem-label{
    padding: 12px 16px;
    display: block;
    cursor: pointer;
    height: 20%;
    order: 1;
    width: 80%;
}

.MItem-icon{
    height: 20px;
    width: 20%;
  
}
