*{
    text-decoration: none;
}

.NavbarItems{
    background: #0a1931;
    display: flex;
    position: fixed;
    justify-content:flex-start;
    flex-direction: row;
    font-size: 1.2rem;
    height: inherit;
    width: 100%;
    
}

.Navbar-logo{
    order: 1;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    width: 33%;
    margin-left: 20%;
    color: white;
    font-size: 275%;
    background: #0a1931;
    border: solid;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 66%;
    list-style:none;
    background: #0a1931;
    height: inherit;

}

.nav-links{
    display: inline-block;
    color: white;
    text-align: center;

    font-size: 20px;
    line-height: 76px;
    margin: 0 0.85em;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    background: #0a1931;
    border-bottom: solid #0a1931;
    width: 100%;
}

.nav-links:hover{
    border-radius: 4px;
    transition: all 0.2 ease-out;
    transition: 0.5s;
    background: #0f2447;
    border-color: #00b2cf !important;
    }

#nav-links a:hover {
        border-bottom-color: #00b2cf !important;
    }

.clicked-page{
    display: inline-block;
    color: white;
    line-height: 76px;
    margin: 0 0.85em;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    background-color:#0f2549;
    border-bottom: solid #00b2cf;
    cursor: pointer;
    width: 100%;
    text-align: center;
}
/*
.clicked-page:hover{
    background-color:#cc3340;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out;
    transition: 0.5s;

}
.clicked-page:active{
    color: white;
    padding: 0.5rem 1rem;
    background-color:#ac2a35;
    border-radius: 4px;
    transition: all 0.2 ease-out;
    transition: 0.3s;
}*/


/* The container <div> - needed to position the dropdown content */
.dropdown{
    display: inline-block;
    position: relative;
    border-radius: 4px;
    background: #0a1931;
    width: none;
}


.ManNav-links{   /*Dropdown Content (Hidden by Default) */
    display: none;
    align-items: center;

    position: absolute;
    background-color: #0a1931;
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: auto;
    width: 150px;
}

/* Links inside the dropdown 
.ManNav-links label{

}*/

/* Change color of dropdown links on hover */
.MItem:hover {background-color: #3d4a5f;} 
.MItem:hover .MItem-label{background-color: #3d4a5f;} 
.MItem:hover .MItem-icon {background-color: #3d4a5f;} 

/* Show the dropdown menu on hover */
.dropdown:hover .ManNav-links {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover /*.clicked-page*/ {background-color: #0a1931;}

/* Links inside the dropdown */
.MItem{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 4px;
    width: 150px;
    background-color: #0a1931;
}

.MItem-label{
    padding: 12px 16px;
    display: block;
    cursor: pointer;
    height: 20%;
    border-radius: 4px;
    order: 1;
    width: 80%;
    background-color: #0a1931;
    color: white;
}
li{
    background: #0a1931;
    color: #0a1931;
}



.fa{
    line-height:30px;
    font-size:30px;
    display:inline-block;
    width:35px;
    height:35px;
  }
  .hidden{
    display:none;
  }
  
  .popCheckBox{
    position:fixed;
  } 
  
  .popCheckBox[type=checkbox]:checked + label {
    animation: closing 0.3s forwards ease-in-out,
               moving 0.3s forwards ease-in-out;
  } 
  .pointer-cursor{
     cursor: pointer; cursor: hand;
  }
  .close{
  
      float:right;
      color: #b94b45;
      cursor: pointer; cursor: hand;
  }
  
  .alert-message{
    background-color: #f2dede;
    border: 1px solid rgba(#34495e, 0.25);
    color: #b94b45;
    border-radius: 3px;
    line-height:30px;
    top: 0; left: 70%;
    display:block;
    width:30%;
    padding: 12px;
    margin-top: 85px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, .9);
    box-shadow: 0px 10px 50px rgba(0,0,0,.6);
    background:#34495e;
    position:fixed;
  }
  
  @keyframes closing {
    from {
      opacity: 1; 
    }
    to {
      opacity: 0;
    }
  }
  
  @keyframes moving {
    0%, 90% { top: 0; left: 70%; }
    100%  { top: -100px; left: 70%; }
  }
  
  .contentDiv{
    padding-top: 100px;
  }
  