*{
    text-decoration: none;
}

.NavbarItems{
    background: #01050C;
    display: flex;
    position: fixed;
    justify-content:flex-start;
    flex-direction: row;
    font-size: 1.2rem;
    height: inherit;
    width: 100%;
}

.notifications-icon{
  margin-left: 2%;
  background: #01050C;
  display: flex;
 justify-content: center;
 align-items: center;
}

.wrapper{
  background: #01050C;
    float:right;
    border-radius: 25px 25px 0 0;
    position: relative;
    display: block;
    width: 250px;
    overflow:hidden;
}

.button{
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 55px;
  border-radius: 40px;
  cursor: pointer;
  transition: width 1s;
  background-color: #182A48;
}

.button.clicked{
  width: 250px;
  
}

.bell{
  background-color: #182A48;
  margin-top: 8px;
  margin-left: 20px;
  width: 30px;
  height: 35px;
}

.button:hover .bell {
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes rotate{
  0%{transform: rotate(0deg)}
  25%{transform: rotate(40deg)}
  50%{transform: rotate(0deg)}
  75%{transform: rotate(-40deg)}
  100%{transform: rotate(0deg)}
}

.text {
  
  display: flex;
  background-color: #182A48;
  font-weight: normal;
  position: relative;
  align-self: center;
  flex: 0 auto;
  margin-left: auto;
  margin-right:auto;
  animation: showAfter2S 0s 0.5s forwards;
  visibility: hidden;
  color: #fff;
}

.number{
  margin-left: 5%;
  background-color: #182A48;
  order: 1;
}

@keyframes showAfter2S {
  to   { visibility: visible; }
}

.notifications {
   position: fixed;
   z-index: 8;
   border: 1px solid #2A3E5E;
   border-radius: 3px 3px 30px 30px;
   background-color: #2A3E5E;
   margin-top: -27.5px;
   padding-top: 35px;
   padding-bottom: 30px;
   z-index: 1;
   display: flex;
   flex-flow: column;
   width: inherit;
   animation: slide-right 1s;
   animation-delay: 0.5s;
   opacity: 0;
   animation-fill-mode: forwards;
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateY(-27.5px);
            transform: translateY(-27.5px);
            opacity: 0;
  }
  50%{
    opacity: 0.01;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
            opacity: 1;
  }
}
.notifications::after{
  opacity: 1;
}
.notificationOpen{
  animation: slide-up 1s;
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
            opacity: 1;
  }
  50%{
    opacity: 0.01;
  }
  100% {
    -webkit-transform: translateY(-27.5px);
            transform: translateY(-27.5px);
            opacity: 0;
  }
}
 
 .notification {
   position: static;
   color: #fff;
   display: inline-block;
   margin: auto;
   width: auto;
   padding: 10px 0 10px 50px;
   background-position: 0px 50%;
   background-size: 30px;
   background-repeat: no-repeat;
   margin-left: 20px;
   margin-right: 20px;
   background: #2A3E5E;
 }
 
 .wrapper li:hover{
   color: #00a9c3;
   transition: width 0s;
   cursor:pointer;
 }

.Navbar-logo{
    order: 1;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    width: 33%;
    margin-left: 20%;
    color: white;
    font-size: 275%;
    background: #01050C;
}

.Octopus-Label{
  background: #01050C;
  color: white;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 66%;
    list-style:none;
    background: #01050C;
    height: inherit;

}

.nav-links{
    display: inline-block;
    color: white;
    text-align: center;
    line-height: 76px;
    margin: 0 0.85em;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    background: #01050C;
    border-bottom: solid #0a1931;
    width: 100%;
}

.nav-links:hover{
    border-radius: 4px;
    transition: all 0.2 ease-out;
    transition: 0.5s;
    background: #0f2447;
    border-color: #00b2cf !important;
    }

#nav-links a:hover {
        border-bottom-color: #00b2cf !important;
    }

.clicked-page{
    display: inline-block;
    color: white;
    line-height: 76px;
    margin: 0 0.85em;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    background-color:#01050C;
    border-bottom: solid #00b2cf;
    cursor: pointer;
    width: 100%;
    text-align: center;
}
/* The container <div> - needed to position the dropdown content */
.dropdown-menu{
    display: inline-block;
    position: relative;
    border-radius: 4px;
    background: #01050C;
    width: none;
}


.ManNav-links{   /*Dropdown Content (Hidden by Default) */
    display: none;
    align-items: center;
    position: absolute;
    background-color: #01050C;
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
    z-index: 1;
    overflow: auto;
    width: 150px;
}

/* Links inside the dropdown 
.ManNav-links label{

}*/

/* Change color of dropdown links on hover */
.MItem:hover {background-color: #3d4a5f;} 
.MItem:hover .MItem-label{background-color: #3d4a5f;} 
.MItem:hover .MItem-icon {background-color: #3d4a5f;} 

/* Show the dropdown menu on hover */
.dropdown-menu:hover .ManNav-links {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-menu:hover /*.clicked-page*/ {background-color: #01050C;}

/* Links inside the dropdown */
.MItem{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 4px;
    width: 150px;
    background-color: #01050C;
}

.MItem-label{
    padding: 12px 16px;
    display: block;
    cursor: pointer;
    height: 20%;
    border-radius: 4px;
    order: 1;
    width: 80%;
    background-color: #01050C;
    color: white;
}
li{
    background: #01050C;
    color: #0a1931;
}



.fa{
    line-height:30px;
    font-size:30px;
    display:inline-block;
    width:35px;
    height:35px;
  }
  .hidden{
    display:none;
  }
  
  .popCheckBox{
    position:fixed;
  } 
  
  .popCheckBox[type=checkbox]:checked + label {
    animation: closing 0.3s forwards ease-in-out,
               moving 0.3s forwards ease-in-out;
  } 
  .pointer-cursor{
     cursor: pointer; cursor: hand;
  }
  .close{
  
      float:right;
      color: #b94b45;
      cursor: pointer; cursor: hand;
  }
  
  .alert-message{
    background-color: #f2dede;
    border: 1px solid rgba(#34495e, 0.25);
    color: #b94b45;
    border-radius: 3px;
    line-height:30px;
    top: 0; left: 70%;
    display:block;
    width:30%;
    padding: 12px;
    margin-top: 85px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, .9);
    box-shadow: 0px 10px 50px rgba(0,0,0,.6);
    background:#34495e;
    position:fixed;
  }
  
  @keyframes closing {
    from {
      opacity: 1; 
    }
    to {
      opacity: 0;
    }
  }
  
  @keyframes moving {
    0%, 90% { top: 0; left: 70%; }
    100%  { top: -100px; left: 70%; }
  }
  
  .contentDiv{
    padding-top: 100px;
  }
  



  